.root{
    -fx-background-color: #773939;
}

/* Estilo para el contenedor de imagen y etiquetas */
.hbox {
    -fx-alignment: center; /* Alinear a la izquierda */
    -fx-spacing: 20; /* Espacio entre la imagen y el contenedor de etiquetas */
}

/* Estilo para el logo */
.image-view {
    -fx-fit-width: 250; /* Ancho del logo */
    -fx-preserve-ratio: true; /* Mantener la proporción del logo */
}

/* Títulos */
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/roboto-slab-regular.ttf");
}

.titulo {
    -fx-font-family: "Roboto Slab";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;  /* Blanco para el color del texto */
}

/* Texto común */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto-regular.ttf");
}

.texto-comun {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: white;  
}

.labels {
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.vbox-externo {
    -fx-background-color: #ffffff1a;
}

.vbox-interno {
    -fx-background-color: #5c2e2e43;
}
